.about{
    display: flex;
    background-color: #F2F2F2;
    
}
.aboutwrapper{
    flex: 9;
    padding: 20px;
    text-align: center;    
}
.contentWrapper{
    flex:9;
}
.titleLg{
    display: flex;
    font-size: 50px;
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 40px;
    color: var(--blue);
    font-weight: bold;
    justify-content: center;
}
.aboutText{
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Duru Sans', sans-serif;
    justify-content: center;
    padding: 30px;
    margin-bottom: 60px;
}
.imgAbout{
    width: 30%;
    
    justify-content: center;
    align-items: center;
    display: block;
    padding-bottom: 40px;
    margin: auto;
}
