.header{
    /*margin-top: 60px;*/
   overflow: auto;
   height: 700px;
   background: rgb(242,116,5);
    background: linear-gradient(180deg, rgba(242,116,5,1) 0%, rgba(236,168,124,1) 26%, rgba(242,242,242,1) 100%);   
}
.headerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    color: white;
    

}
.headerTitleSm{
    position: absolute;
    top: 20%;
    font-size: 30px;
}
.headerTitleLg{
    position: absolute;
    top: 25%;
    font-size: 100px;
}
.headerImage{
    width: 100%;
    height: 450px;
    margin-top: 110px;
    object-fit: cover;
}