.top{
    width: 100%;
    height: 50px;
    background-color: #F27405;
    position: sticky;
    top: 0; 
    display: flex;
    align-items: center;
    font-family: 'Prompt', sans-serif;
    color: white;
}

.topLeft, .topRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topCenter{
    flex:7;
}
.topIcon{
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.topIcon:hover{
    color: #A6469F;
}
.topImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.topList{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.topListItem{
    margin-right: 20px;
    font-size: 18px;
    cursor: pointer;
}
.topListItem:hover{
    text-decoration: line-through;
    text-decoration-color: #A6469F;
    text-decoration-thickness:  15%;;
}
.topSearchIcon{
    font-size: 18px;
    cursor: pointer;
    margin-left: 15px;
}
.topSearchIcon:hover{
    color: #A6469F;
}